
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 300px; 
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 16px;
    font-size: 18px; 
    background-color: #4CAF50;
    color: black(253, 0, 42);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
